.button {
  background-color: #d4d0c7;
  width: 100%;

  color: black;
  font: italic bold 15px;
  font-family: "Times New Roman", Times, serif;
  height: $xl-size;
  padding: 0 8px;
  font-family: serif;
}

.text-input {
  font: normal 13px Arial, SansSerif;
  width: 200px;
  height: $l-size;
  margin: 0;
  padding: 0;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form * {
  margin-bottom: $s-size;
}
