.connected-clients-card >p {
    color: white;
    padding: 0;
    font-size: 11px;
    margin: 0;
    font-family: serif;
}

.num-users {
    font-size: 20px;
    font-family: sans-serif;
    color: yellowgreen;
}
