.bar-parent {
    width: 100%;
    height: $l-size;
    background-color: #d4d0c8;
    display: flex;
    flex-direction: row;
    align-items: center;
    border:0px solid black;
    box-shadow:rgba(0,0,0,0.4) 2px 2px 0  inset, white -1px -1px 0px inset;
    border-radius: 2px;
}

.bar-child {
    background-color: #0a246a;
    width: 100%;
    max-width: 100%;
    z-index: 2;
    max-height: 85%;
    height: 85%;
    margin-left: 2px;
    margin-right: 2px;
    

//  transition: width 10s;
}