.countdownSquare{
    height: 100px;
    width: 100px;
    background-color: lightgray;
    border: black solid 1px;
}

.countdown-content{
    display: flex;
    flex-direction: row;
}

.countdownSquare#square-0
{background-color: red;}


.countdownSquare#square-1
{background-color: orange;}
.countdownSquare#square-2
{background-color: yellow;}
.countdownSquare#square-3
{background-color: green;}
.countdownSquare#square-4
{background-color: blue;}
.countdownSquare#square-5
{background-color: purple;}
