


.countdown-content{
    height: 10em;
max-height: 10em; 
}
.countdown-content >div{
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;}

.countdown-content >div:first-child{
background-color: $windows-off-white;
@include basic-box-shadow-inset;
padding: $m-size;
}
.countdown-display-subcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
