.bar-parent {
    width: 100%;
    height: $xl-size;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bar-child {
    background-color: rgb(83, 170, 96);
    width: 100%;
    z-index: 2;
    height: $l-size;
//  transition: width 10s;
}