.whole-page {

    background-color: $computer-grey;
    height: max-content;
    max-width: 80rem;
    margin: 0 auto;
    // padding: $s-size;
    box-shadow:rgba(0,0,0,0.4) 2px 2px 0, white -1px -1px 0px;
    display: flex;
    flex-direction: column;




    
}