* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  html {
    font-size: 62.5%;
  }

  a {
    text-decoration: none;
    color: black;
  }
  
  body {
    font-size: $m-size;
    color: $dark-gray;
    line-height: 1.6;
    background-color: #d4d0c8
  }
  
  button {
    cursor: pointer;
  }
  
  button:disabled {
    cursor: default;
  }
  
  .is-active {
    font-weight: bold;
  }
  